<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Airline">
    <app-airline></app-airline>
  </mat-tab>
  <mat-tab label="Aircraft">
    <app-aircraft></app-aircraft>
  </mat-tab>
  <mat-tab label="Airport">
    <app-airport></app-airport>
  </mat-tab>
  <mat-tab label="Flight">
    <app-flight></app-flight>
  </mat-tab>
  <mat-tab label="Flight Path">
    <app-flightpath></app-flightpath>
  </mat-tab>
  <mat-tab label="Flight Logistics">
    <app-flightlogistic></app-flightlogistic>
  </mat-tab>
  <mat-tab label="Weather">
    <app-weather></app-weather>
  </mat-tab>
</mat-tab-group>